Repository ronmun/rise-of-aizoth, pull requests merged in 2021-02, with the labels that each got.

#2 Added base main menu screen
  .gitignore
  main.py
  menu.py
Labels: menu, screen

#10 Update with controller & game assets
  .gitignore
  Assets/Sprites/Characters/DemonTower/DemonTower_01.png
  Assets/Sprites/Characters/DemonTower/DemonTower_02.png
  Assets/Sprites/Characters/DemonTower/DemonTower_03.png
  Assets/Sprites/Characters/DemonTower/DemonTower_04.png
  Assets/Sprites/Characters/Dino/lizard_f_run_anim_f0.png
  Assets/Sprites/Characters/Dino/lizard_f_run_anim_f1.png
  Assets/Sprites/Characters/Dino/lizard_f_run_anim_f2.png
  Assets/Sprites/Characters/Dino/lizard_f_run_anim_f3.png
  Assets/Sprites/Characters/Elf/elf_f_run_anim_f0.png
  Assets/Sprites/Characters/Elf/elf_f_run_anim_f1.png
  Assets/Sprites/Characters/Elf/elf_f_run_anim_f2.png
  Assets/Sprites/Characters/Elf/elf_f_run_anim_f3.png
  Assets/Sprites/Characters/Orc/ogre_run_anim_f0.png
  Assets/Sprites/Characters/Orc/ogre_run_anim_f1.png
  Assets/Sprites/Characters/Orc/ogre_run_anim_f2.png
  Assets/Sprites/Characters/Orc/ogre_run_anim_f3.png
  Assets/Sprites/Characters/SkellyTower/SkellyTower_01.png
  Assets/Sprites/Characters/SkellyTower/SkellyTower_02.png
  Assets/Sprites/Characters/SkellyTower/SkellyTower_03.png
  Assets/Sprites/Characters/SkellyTower/SkellyTower_04.png
  Assets/Sprites/Characters/Wizard/wizzard_f_run_anim_f0.png
  Assets/Sprites/Characters/Wizard/wizzard_f_run_anim_f1.png
  Assets/Sprites/Characters/Wizard/wizzard_f_run_anim_f2.png
  Assets/Sprites/Characters/Wizard/wizzard_f_run_anim_f3.png
  Assets/Sprites/GemSprite.png
  Assets/Sprites/Ronmun.png
  Assets/Sprites/Screens/01_Tutorial.png
  Assets/Sprites/Screens/02_Rebelion.png
  Assets/Sprites/Screens/03_Esperanza.png
  Assets/Sprites/Screens/Botones/Nivel_1.png
  Assets/Sprites/Screens/Botones/Nivel_2.png
  Assets/Sprites/Screens/Botones/Nivel_3.png
  Assets/Sprites/Screens/Botones/creditos.png
  Assets/Sprites/Screens/Botones/exit.png
  Assets/Sprites/Screens/Botones/music_off.png
  Assets/Sprites/Screens/Botones/musica_on.png
  Assets/Sprites/Screens/Botones/opciones.png
  Assets/Sprites/Screens/Botones/pausa.png
  Assets/Sprites/Screens/Botones/play.png
  Assets/Sprites/Screens/Botones/reaundar.png
  Assets/Sprites/Screens/GameTitle.png
  Assets/Sprites/Screens/PantallaMenu.png
  controller.py
  game.py
  main.py
  menu.py
  menu_ui.py
  screen.py
  state.py
Labels: assets, controller

#11 Added base characters classes descriptors
  characters/dino.py
  characters/elf.py
  characters/entity.py
  characters/ogre.py
  characters/wizard.py
  menu_ui.py
Labels: Characters

#13 Added level user interface
  Assets/Sprites/Screens/Botones/menu.png
  Assets/Sprites/Screens/Botones/reanudar.png
  Levels/tutorial.py
  controller.py
  pause.py
  state.py
Labels: controller, game, ui
